.window-cont {
    /* width: 100%; */
    display: flex;
    /* background-color: rebeccapurple; */
    /* width: 85rem; */
    /* margin-left: 18rem; */
    /* flex-direction: row; */
    /* align-items: center; */
    /* justify-content: space-evenly; */
    padding: 2rem 0;
    border-bottom: 2px solid #41403e;
    /* border-top: 2px solid #41403e; */

}

.Demo {
    width: 100%;
    height: 100%;
}

.control-cont {
    display: flex;
    justify-content: center;
    height: 200px;
    align-items: center;
    margin-left: 15rem;
}

.vid-actions {
    display: flex;
    justify-content: space-between; 

    padding: 2rem 1rem;
}

.center-action * {
    margin: 0 1rem;
}



.button-12 {
    align-self: center;
    background-color: #fff;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;
    font-family: Neucha, sans-serif;
    font-size: 1rem;
    line-height: 23px;
    outline: none;
    padding: .75rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    padding: 1rem 2rem;

  }
  
  .button-12:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
  }
  
  .button-12:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
  }


.other-video-actions {
    margin-left: 15rem;
    display: flex;
    justify-content: center;
    margin-top: -2.5rem;
}

.other-video-actions .button-12 {
    margin: 0 2rem;
}


.others {
    margin-left: 15rem;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.others .button-12 {
    width: 35rem;
}